In [1]:
import pandas as pd
import numpy as np

## Задача 1
**Считать данные с помощью pandas\
Вывести на экран первые 5 строк\
Посмотреть на описание признаков и на их содержание**

Company - компания, которая производит ноутбуки\
Product - имя ноутбука\
TypeName - тип ноутбука\
Inches - диагональ\
ScreenResolution - разрешение ноутбука\
Cpu - процессор\
Ram - ОЗУ\
Memory - память\
Gpu - видеокарта\
OpSys - операционная система\
Weight - вес ноутбука\
Price_euros - стоимость ноутбука

In [8]:
df = pd.read_csv('./laptop_price.csv', encoding="ISO-8859-1")
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

## Задача 2
**Проведите первичный анализ данных\
Изучите типы данных\
Найдите количество пропущенных ячеек в данных\
Посчитайте основные статистики по всем признакам и поизучайте их**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [12]:
df.isnull().sum() # кол-во пустых строк (или со значением NaN)

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

In [13]:
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [14]:
df.describe(include=['object'])

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

## Задача 3
**3.1 Ноутбуков от какой компании больше всего в наборе данных?\
3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?\
3.3 Какой самый дорогой ноутбук в данных?\
Выведите все характеристики только по этому ноутбуку\
Если таких ноутбуков несколько, то выводите их всех**

In [17]:
df['Company'].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

In [20]:
df['Price_euros'].sort_values()

1215     174.0
20       191.9
1120     196.0
31       199.0
290      199.0
         ...
1066    3975.0
749     4389.0
610     4899.0
830     5499.0
196     6099.0
Name: Price_euros, Length: 1303, dtype: float64

In [23]:
df['Price_euros'].min(), df['Price_euros'].max()

(174.0, 6099.0)

In [25]:
df[df['Price_euros'] == df['Price_euros'].max()]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

In [33]:
df.sort_values(['Price_euros'], ascending=False).iloc[0] # Series

laptop_ID                                           200
Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

In [34]:
df.sort_values(['Price_euros'], ascending=False).iloc[0].to_frame() # DataSet

                                                  196
laptop_ID                                         200
Company                                         Razer
Product                                     Blade Pro
TypeName                                       Gaming
Inches                                           17.3
ScreenResolution  4K Ultra HD / Touchscreen 3840x2160
Cpu                       Intel Core i7 7820HK 2.9GHz
Ram                                              32GB
Memory                                        1TB SSD
Gpu                           Nvidia GeForce GTX 1080
OpSys                                      Windows 10
Weight                                         3.49kg
Price_euros                                    6099.0

In [36]:
df.sort_values(['Price_euros'], ascending=False).iloc[0].to_frame().T

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0