In [1]:
import pandas as pd

## Задание 1
1. Скачать данные по ссылке
https://gbcdn.mrgcdn.ru/uploads/asset/4955979/attachment/932080875d9
87932b88bcdb1796cf1d9.csv
2. Считать данные с помощью pandas
3. Вывести на экран первые 5 строк
4. Посмотреть на описание признаков и на их содержание

1.	Company - компания, которая производит ноутбуки
2.	 Product - имя ноутбука
3.	TypeName - тип ноутбука
4.	Inches - диагональ
5.	ScreenResolution - разрешение ноутбука
6.	Cpu - процессор
7.	Ram - ОЗУ
8.	Memory - память
9.	Gpu - видеокарта
10.	OpSys - операционная система
11.	Weight - вес ноутбука
12.	Price_euros - стоимость ноутбука

In [2]:
df = pd.read_csv("../data/laptop_price.csv", encoding="latin-1")

In [3]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

## Задание 2.
Проведите первичный анализ данных
1. Изучите типы данных
2. Найдите количество пропущенных ячеек в данных
3. Посчитайте основные статистики по всем признакам и поизучайте их

In [5]:
df.isnull().sum()

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

In [6]:
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [7]:
df.describe(include=['object'])

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

## Задание 3.
Ответьте на несколько вопросов

### 3.1 Ноутбуков от какой компании больше всего в наборе данных?

In [8]:
df['Company'].value_counts()

Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: Company, dtype: int64

### 3.2 Какая минимальная и максимальная стоимость у ноутбуков в данных?

In [9]:
df['Price_euros'].min(), df['Price_euros'].max()

(174.0, 6099.0)

### 3.3 Какой самый дорогой ноутбук в данных?
Выведите все характеристики только по этому ноутбуку
Если таких ноутбуков несколько, то выводите их всех

In [10]:
df[df["Price_euros"] == df["Price_euros"].max()]

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

In [11]:
df.sort_values(['Price_euros'], ascending=False).iloc[0].to_frame().T

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
196,200,Razer,Blade Pro,Gaming,17.3,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7820HK 2.9GHz,32GB,1TB SSD,Nvidia GeForce GTX 1080,Windows 10,3.49kg,6099.0

## Задание 4.
Ответьте на несколько вопросов
### 4.1 Найдите ноутбуки с самой маленькой диагональю в данных?
Выведите только следующие характеристики:
1. Компания
2. Типа ноутбука
3. Диагональ
4. Стоимость
Если таких ноутбуков несколько, то выводите их всех

In [12]:
df[df['Inches'] == df['Inches'].min()][["Company", "TypeName", "Inches", "Price_euros"]]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

In [13]:
df.sort_values("Inches")[["Company", "TypeName", "Inches", "Price_euros"]]

     Company            TypeName  Inches  Price_euros
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
50    Lenovo  2 in 1 Convertible    10.1       319.00
944   Lenovo  2 in 1 Convertible    11.3      1299.00
...      ...                 ...     ...          ...
1129      HP              Gaming    17.3      1129.00
578      MSI              Gaming    17.3      2729.00
257       HP            Notebook    17.3      1059.00
1136      HP         Workstation    17.3      3949.40
177      MSI              Gaming    18.4      2799.00

[1303 rows x 4 columns]

### 4.2 Сколько стоит самый дорогой ноутбук у компании HP?

In [14]:
df[df['Company'] == 'HP'].sort_values('Price_euros', ascending = False).head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
749,758,HP,Zbook 17,Workstation,17.3,IPS Panel Full HD 1920x1080,Intel Xeon E3-1535M v5 2.9GHz,16GB,256GB SSD,Nvidia Quadro M2000M,Windows 7,3kg,4389.0
1136,1151,HP,ZBook 17,Workstation,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,8GB,256GB SSD,Nvidia Quadro M3000M,Windows 7,3kg,3949.4
911,924,HP,Elitebook Folio,Ultrabook,12.5,4K Ultra HD / Touchscreen 3840x2160,Intel Core M 6Y75 1.2GHz,8GB,240GB SSD,Intel HD Graphics 515,Windows 10,1.09kg,3100.0
1103,1118,HP,ZBook 17,Workstation,17.3,IPS Panel Full HD 1920x1080,Intel Core i7 6700HQ 2.6GHz,8GB,1TB HDD,AMD FirePro W6150M,Windows 7,3.0kg,2899.0
857,868,HP,EliteBook x360,2 in 1 Convertible,13.3,Full HD / Touchscreen 1920x1080,Intel Core i7 7600U 2.8GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,1.28kg,2559.0

In [15]:
df[df['Company'] == 'HP'].sort_values('Price_euros', ascending = False).iloc[0]

laptop_ID                                     758
Company                                        HP
Product                                  Zbook 17
TypeName                              Workstation
Inches                                       17.3
ScreenResolution      IPS Panel Full HD 1920x1080
Cpu                 Intel Xeon E3-1535M v5 2.9GHz
Ram                                          16GB
Memory                                  256GB SSD
Gpu                          Nvidia Quadro M2000M
OpSys                                   Windows 7
Weight                                        3kg
Price_euros                                4389.0
Name: 749, dtype: object

In [16]:
df[df['Company'] == 'HP']['Price_euros'].max()

4389.0

### 4.3 Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении относительно всех ультрабуков

In [17]:
df[(df["TypeName"] == "Ultrabook") & (df["Ram"] == "8GB")].count()

laptop_ID           140
Company             140
Product             140
TypeName            140
Inches              140
ScreenResolution    140
Cpu                 140
Ram                 140
Memory              140
Gpu                 140
OpSys               140
Weight              140
Price_euros         140
dtype: int64

In [18]:
df[(df["TypeName"] == "Ultrabook") & (df["Ram"] == "8GB")].shape[0]

140

In [19]:
df[(df["TypeName"] == "Ultrabook")].shape[0]

196

In [20]:
u_8 = df[(df["TypeName"] == "Ultrabook") & (df["Ram"] == "8GB")].shape[0]
ultra = df[(df["TypeName"] == "Ultrabook")].shape[0]
u_8 / ultra * 100

71.42857142857143

In [21]:
df[df['TypeName'] == 'Ultrabook']['Ram'].value_counts(normalize=True)

8GB     0.714286
16GB    0.183673
4GB     0.071429
12GB    0.015306
24GB    0.005102
32GB    0.005102
6GB     0.005102
Name: Ram, dtype: float64

## Задание 5.
### 5.1 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук с 8GB или 16GB ОЗУ на Windows 10 в
стоимости до 500 евро, сколько у него вариантов?

In [22]:
df[
    (df["TypeName"] == "Notebook") &
    ((df["Ram"]=="8GB") | (df["Ram"]=="16GB")) &
    (df["OpSys"] == "Windows 10") &
    (df["Price_euros"] <= 500)
].count()

laptop_ID           13
Company             13
Product             13
TypeName            13
Inches              13
ScreenResolution    13
Cpu                 13
Ram                 13
Memory              13
Gpu                 13
OpSys               13
Weight              13
Price_euros         13
dtype: int64

In [23]:
df[
    (df["TypeName"] == "Notebook") &
    (df["Ram"].isin(["8GB", "16GB"])) &
    (df["OpSys"] == "Windows 10") &
    (df["Price_euros"] <= 500)
].shape[0]

13

### 5.2 Выберите ноутбук клиенту
Клиент хочет подобрать ноутбук от MSI, с видеокартой Nvidia GeForce GTX
1050 Ti и главное не с диагональю 15.6. В какой ценовой категории вышли
подобные ноутбуки?

In [24]:
df[
    (df['Company'] == 'MSI') &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') &
    (df['Inches'] != 15.6)
]['Price_euros'].min()

1199.0

In [25]:
df[
    (df['Company'] == 'MSI') &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') &
    (df['Inches'] != 15.6)
]['Price_euros'].max()

1599.0

In [26]:
df[
    (df['Company'] == 'MSI') &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') &
    ~(df['Inches'] == 15.6)
]['Price_euros'].max()

1599.0

In [27]:
df[
    (df['Company'] == 'MSI') &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') &
    ~(df['Inches'] == 15.6)
]['Price_euros'].min(), df[
    (df['Company'] == 'MSI') &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') &
    ~(df['Inches'] == 15.6)
]['Price_euros'].max()

(1199.0, 1599.0)

In [28]:
sort1 = df[
    (df['Company'] == 'MSI') &
    (df['Gpu'] == 'Nvidia GeForce GTX 1050 Ti') &
    ~(df['Inches'] == 15.6)
]['Price_euros']

sort1.min(), sort1.max()

(1199.0, 1599.0)

### 5.3 Что дешевле?
В среднем дешевле ноутбуки с CPU Intel Core i7 7700HQ 2.8GHz или с Intel
Core i7 7600U 2.8GHz?

In [29]:
df[df["Cpu"] == 'Intel Core i7 7700HQ 2.8GHz']["Price_euros"].mean()

1760.4084246575337

In [30]:
df[df["Cpu"] == 'Intel Core i7 7600U 2.8GHz']["Price_euros"].mean()

1915.710769230769

## Задание 6.
Найдите самый легкий ноутбук
Но обратите внимание на тип и представление данных в признаке
Weight, если что, замените в строке 'kg' на пустую строку через
метод .str.replace()

In [31]:
df['Weight']

0       1.37kg
1       1.34kg
2       1.86kg
3       1.83kg
4       1.37kg
         ...
1298     1.8kg
1299     1.3kg
1300     1.5kg
1301    2.19kg
1302     2.2kg
Name: Weight, Length: 1303, dtype: object

In [32]:
df['Weight'] = df['Weight'].str.replace('kg', '')
df

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2,369.00

In [33]:
df.Weight

0       1.37
1       1.34
2       1.86
3       1.83
4       1.37
        ...
1298     1.8
1299     1.3
1300     1.5
1301    2.19
1302     2.2
Name: Weight, Length: 1303, dtype: object

In [34]:
df['Weight'] = df['Weight'].astype(float)

In [35]:
df[df['TypeName'] == 'Notebook']['Weight'].min()

1.05